/* share section */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.section-title {
    color: #131313;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 700;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    background-color: #FF900E;
    margin: 20px 0px 40px 0px;
}

/* header section */
.header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 200px;
    height: 140vh;
}

/* nav section */
.nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.nav ul {

    margin: 1rem 0px;
}

.nav>ul li {
    list-style: none;
    display: inline;
    padding: 0.8rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.nav ul li a {
    text-decoration: none;
    color: #424242;

}

/* banner section */
.banner {
    margin-top: 50px;
    text-align: center;
    height: 130vh;
}

.banner-contain {
    width: 80%;
    margin: 0px auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin: 20px 0px;
}



.btn:hover {
    background-color: #767272;
}

.banner-images {
    width: 100%;
}

/* features section */
main {
    padding: 3rem 12rem;
}

.features-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.features-content {
    width: 45%;
    padding-left: 3rem;
}

.love-and-enjoy {
    padding: 0px;
    padding-left: 20px;
    border-left: 4px solid #FF900E;
}

.features-title {
    color: #727272;
    font-size: 3rem;
    font-weight: 500;
    width: 100%;
}

.quick {
    color: #131313;
    font-weight: 700;
}

.features {
    color: #FF900E;
    font-weight: 700;
}

.features-description {
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    width: 90%;
    margin: 20px 0px 10px 0px;
}

.features-gallery {
    width: 55%;

}

.features-gallery ul {
    width: 100%;
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.features-photo {
    width: 100%;
    border-radius: 10px;
}

/* feature love and enjoy section */
.feature-love-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120vh;
    margin-top: 3rem;
}

.feature-love-content {
    width: 40%;
    height: 100%;
    margin-right: 3rem;
}

.feature-love-photo {
    width: 50%;
}

.feature-images {
    height: 90%;
    width: 100%;
}

.feature-description {
    width: 100%;
    margin: 20px 0px;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #727272;
}

.feature-enjoy h4 {
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 600;

}

.feature-enjoy {
    width: 95%;
    font-size: 0.8rem;
    line-height: 1.2rem;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 1rem;
    color: #727272;
    box-shadow: -3px -3px 20px 4px #dbd9d974;
    background-color: #f7f3f38c;
}

.Experience {
    width: 10rem;
    text-align: center;
    padding: 30px 40px;
    color: #fff;
    background-color: #FF900E;
    position: relative;
    margin-top: -80px;
    margin-left: -50px;
    border-radius: 10px;
}

.Experience h2 {
    font-size: 2.5rem;
}

/* facts section */
.facts-section {
    width: 100%;
    height: 70vh;
    padding-top: 7rem;
}


.facts-descrive {
    width: 90%;
}

.facts-container {
    margin: 5.5rem 0rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.facts-card {
    width: 10rem;
    height: 10rem;
    text-align: center;
    border-radius: 10px;
    color: #767272;
    border: 1px solid #FF900E;
}

.card-img {
    padding-top: 25px;
    padding-bottom: 8px;
    width: 2rem;
    height: 2rem;
}

.card-title {
    font-size: 2rem;
    color: #524f4f;
    margin: 0px;
    padding: 0px;
}

.card-des {
    margin-top: 8px;
}

/* Our Sponsors */
.sponsors-container {
    text-align: center;


}

.sponsors-des {
    margin: 1.4rem auto;
    font-size: 0.8rem;
    color: #767272;
    width: 30rem;
}

.sponsors-container ul {
    margin-top:20px ;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}
.sponsors-container img{
    width: 7rem;
    margin:20px auto ;
}
/* footer-section */
.footer-section{
    margin: 2rem 12rem 10rem 12rem;
    text-align: center;
    font-size: 1rem;
    color: #727272;
    padding: 2rem 0rem ;
    background-color: rgba(255, 144, 14, 0.10);
}


/* responsive section */

@media screen and (max-width:576px) {
    .header {
        width: 90%;
        padding: 18px;
        height: 130vh;
        margin: 0px auto;
    }

    .nav,
    main,
    .features-section, .facts-container {
        width: 90%;
        display: block;
        padding: 0px;
        margin: 0px auto;
    }

    .nav>ul li, .footer-section {
        padding: 5px;
    }
    .footer-section{
        padding: 1rem 0rem;
        width:90% ;
        margin: 0px auto 50px;
    }
    .features-content {
        padding: 0px;
    }
    .feature-images{
        height: 70%;
    }

    
    .features-section {
        height: 180vh;
    }
    .features-photo{
        height: 10rem;
    }

    .banner-title {
        font-size: 3.5rem;
    }

    .features-gallery{
        height: 65%;
        width: 90%;
        margin: 10px auto;
    }
    .features-content {
        width: 90%;
        margin: 10px auto;
    }

    .features-gallery ul, .sponsors-container ul {
        grid-template-columns: repeat(1, 1fr);
        margin: 20px auto;
        width: 80%;
    }

    .feature-love-container {
        display: block;
        width: 100%;
        justify-content: center;
        margin-top: 0rem;
        padding: 10px 0rem;
        height: 240vh;
    }

    .feature-love-content  {
        width: 82%;
        margin: 0px auto;
        height: 65%;
    }
    .feature-love-photo{
        width: 85%;
        padding: 0px;
        margin: 0px auto;
        height: 30%;
    }

    .feater-enjoy {
        width: 90%;
        margin-bottom: 15px;
    }

    .Experience {
        text-align: center;
        width: 70%;
        margin: 20px auto;
    }
    
    .facts-section {
        margin-top: 2rem;
        padding-top: 0px;
        height: 130vh;
    }

    .facts-card {
        width: 75%;
        margin: 0.5rem auto;
    }
    .sponsors-container img {
        width: 40%;
        margin: 10px auto;
    }
    .sponsors-des{
        width: 80%;
    }
    .section-title, .feature-description{
        padding-left: 1rem;
    }
}

@media screen and (min-width:577px) and (max-width:980px) {

    .header,
    main {
        padding: 50px;
    }
    .header{
        height: 120vh;
}
    .nav,
    .feature-love-container {
        flex-direction: column;
    }
    .feature-love-container {
        height:220vh ;
    }

    .features-gallery,
    .features-content {
        width: 100%;
    }

    .features-photo {
        height: 16rem;
    }

    .features-gallery ul {
        margin: 20px auto;
        width: 100%;
    }

    .features-section {
        display: block;
        width: 100%;

        height: auto;

    }

    .feature-love-content,
    .feature-love-photo {
        width: 90%;
        margin: 20px auto;
        height: 100vh;
    }

    .feature-love-photo {
        height: 110vh;
    }

    .Experience {
        position: static;
        margin: 20px auto;

    }
    .facts-container {
        display: grid;
        grid-template-columns: repeat(2,200px);
        justify-content: center;
    }
    .sponsors-container img{
        width: 4.8rem;
    }
    .footer-section{
        width: 80%;
        font-size: .8rem;
        margin: 0px auto;
    }

}